body {
	background: url("file:///Users/Megan/Desktop/TTS/HTML_CSS/bread_box_west/assets/images/bakery.jpg")
	fixed center no-repeat;
}

#copyright {
	text-align: left;
}

#btm_nav {
	text-align: right;
}

.front_pic {
	width: 100%;
	height: 100%
}