.jumbotron {
	background-color: #fff;
}

.menu-panels {
	height:150px;
}

#copyright {
	text-align: left;
}

h1 {
	vertical-align: middle;
}

#btm_nav {
	text-align: right;
}

.btn_links {
	padding-left: 10px;
	padding-right: 10px;
}

footer {
	position: relative;
}

.front_pic {
	width: 100%;
	height: 100%
}

.panel .panel-body {
	margin: 0;
}

.contact {
	text-align: center;
	max-width: max;
}

.header {
	text-align: center;
}

.contact-page {
 background: url('../images/cookie2.jpg') no-repeat;
 background-position: center center;
 background-size: cover; 
 background-attachment: fixed;
}

.menu-page{
	background: url('../images/cookie2.jpg') no-repeat;
 background-position: center center;
 background-size: cover; 
 background-attachment: fixed;
}

.text-background {
	background: white;
	background: rgba(255,255,255,.7);
	padding: 10px 10px;
	border-radius: 5px;
}

a{
	color: black;

	padding: 10px 10px;
	border-radius: 5px;
}


.footer-adj {
	margin: 5px 0px;
	padding-bottom: 2px;
	margin-bottom: 2px;

}




